nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

nav div{
    width: 900px;
    margin: auto;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    height: 100%;
    width: auto;
    padding: 7px 20px;
    margin: 5px 0px;
    cursor: pointer;
    position: relative;
}

nav ul li.dropdown ul{
    max-height: 0;
    overflow: hidden;
    width: 250px;
    position: absolute;
    right: 0px;
    top: 37px;
    background: #FFF;
    transition: 0.2s max-height;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

li.dropdown ul li{
    text-align: right;
}

li.dropdown ul li i{
    float: left;
}

nav ul li.dropdown.active ul{
    max-height: 400px;
}

nav ul li.dropdown ul li {
    border: none;
    border-bottom: 1px solid #009688;
    margin: 0;
    width: 100%;
    padding: 10px 30px;
}

nav ul li{
    border-left: 1px solid #009688;
}

nav ul > li:first-child,
nav ul a:first-child li{
    border: none;
}

nav ul li a {
    color: #555;
    text-decoration: none;
}

nav ul li a:hover{
    color: #009688;
}