.blockContainer{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    display: block;
}

.block{
    display: inline-block;
    overflow: auto;
    background: #FFF;
    margin: 3px;
    vertical-align: top;
    padding: 5px 15px 15px 15px;
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
}

.block.w1{
    width: 120px;
}

.block.w2{
    width: 210px;
}

.block.w3{
    width: 300px;
}

.block.w4{
    width: 390px;
}

.block.w5{
    width: 480px;
}

.block.w6{
    width: 570px;
}

.block.w7{
    width: 660px;
}

.block.w8{
    width: 750px;
}

.block.w9{
    width: 840px;
}

.block.w10{
    width: 930px;
}

.block > .fa-plus{
    margin: 20px !important;
}

.innerBlock{
    width: calc(100% - 10px);
    margin: 8px 5px;
    background: #FFF;
    padding: 10px;
    border-left: 1px solid #009688;
    border-right: 1px solid #009688;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    white-space: normal;
    position: relative;
}

.block h1{
    color: #454545;
    font-size: 19px;
    font-weight: lighter;
    border-bottom: 1px solid #009688;
    margin-bottom: 14px;
    padding-left: 0;
}

.block h2{
    color: #009688;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 0;
    margin-bottom: 14px;
}

.block h3{
    color: #FFF;
    background: #009688;
    margin: -10px -10px 0px -10px;
    padding: 2px;
    font-size: 16px;
    font-weight: lighter;
}

.block p{
    margin-left: 10px;
}

.block p.subtitle{
    margin-top: -11px;
    margin-left: 0px;
    margin-bottom: 14px;
    color: #009688;
    font-size: 14px;
}

.innerCube{
    height: 120px;
    width: 170px;
    float: left;
    margin: 8px 5px;
    background: #FFF;
    padding: 10px;
    border-left: 1px solid #009688;
    border-right: 1px solid #009688;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    white-space: normal;
}

.innerCube.w1{
    width: 80px;
}

.innerCube.w2{
    width: 170px;
}

.innerCube.w3{
    width: 260px;
}

.innerCube.w4{
    width: 350px;
}

.innerCube.w5{
    width: 440px;
}

.innerCube.w6{
    width: 530px;
}

.innerCube.w7{
    width: 620px;
}

.innerCube.w8{
    width: 710px;
}

.innerCube.w9{
    width: 800px;
}

.innerCube.w10{
    width: 890px;
}