* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    outline: none;
}

html {
    position: relative;
}

body {
    padding: 40px 0px;
    min-height: 100vh;
    background: #F1F1F1;
}

footer {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-top: 1px solid #CCC;
    background: #F5F5F5;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    color: #777;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    padding: 10px 0px 5px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAA
}

.container {
    position: relative;
    left: 50%;
    margin: 50px 0;
    transform: translateX(-50%);
    width: auto;
    max-width: 1000px;
    overflow: hidden;
    float: left;
}


.flex{
    width: auto;
    min-width: 1000px;
    text-align: center;
    white-space: nowrap;
}

.flex div{
    text-align: left;
}

/*input,
textarea{
    margin: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    background: #FFF;
    font-size: 13px;
    width: 90%;
    min-width: 250px;
    max-width: 350px;
}*/

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center !important;

}

.middle {
    vertical-align: middle;
}

.clickable{
    cursor: pointer;
    display: table;
}

.clickable span{
    display: table-cell;
    vertical-align: middle;
}

.clickable:hover{
    box-shadow: 0px 0px 15px #CCC;
}

.colorMain{
    background-color: #009688 !important;
    border-color: #007668 !important;
    color: #FFF !important;
}

.fontMain{
    color: #009688 !important;
}

.fontBad{
    color: #963a37 !important;
}

.bold{
    font-weight: bolder;
}

.closeCross{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px !important;
    color: #666;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{

}

a:active{
    color:#009688;
}

p{
    font-size: 12px;
    margin: 14px 0px 0px 0px;
}

/*button{
    margin: 0;
    padding: 0;
    border: none;
    color: #000;
    display: inline;
    background: none;
}*/
