table,
div.table{
    display: table;
    border-collapse: collapse;
    width:100%;
}

div.tableRow{
    display: table-row;
}

th,
td,
div.tableRow span{
    display: table-cell;
    border: 1px solid #666;
    padding: 5px 10px;
    font-size: 12px;
}

div.tableRow span input,
td input{
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 0;
}

div.tableRow span input[type=submit],
td input[type=submit]{
    border: 1px solid #CCC;
    padding: 3px;
    background: #F5F5F5;
}